/*------------------
       RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif; 
}

/*------------------
       HEADER
------------------*/
header {
    background-color: #ff6900;
    color: white;
    max-height: 70px;
    padding: 15px 0;
}

.wrap { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.link {
    color: white;
}

a {
    text-decoration: none;
    font-size: 15px;
}

.wrap img{
    max-height: 30px;
    margin-right: 60px;
}

a, i {
    margin: 0 5px;
}

.link i:last-child {
    margin-right: 20px;
}

/*------------------
       SECTIONS
------------------*/
main section:first-child {
    margin-top: 40px;
}

.row {
    display: flex;
    max-width: 1200px;
    padding: 25px 0;
    margin: auto;
    gap: 20px;
}

.card {
    position: relative;
}

.row > div {
    max-width: calc(100% / 3);
}

.row .default-img {
    max-width: 100%;
}

.heart {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    min-width: 50px;
    min-height: 50px;
    font-size: 35px;
    text-align: center;
    line-height: 50px;
}

.heart:hover {
    color: red;
}

.hover-img {
    display: none;
}

.card:hover .hover-img {
    display: block;
}

.card:hover .default-img {
    display: none;
}

.tags {
    position: absolute;
    bottom: 45px;
    left: 0;
}

.discount-50 {
    background-color: #ff0000;
    color: white;
    padding: 4px 10px;
    font-size: 12px;
}

.sostenibilità {
    background-color: #008000;
    color: white;
    padding: 4px 10px;
    font-size: 12px;
}

.row:last-child .card img{
    max-height: 548.63px;
}

.description span {
    display: block;
}

small:nth-child(3) {
    color: #ff0000;
}

small:nth-of-type(3) {
    text-decoration: line-through;
}

/*------------------
      FOOTER
------------------*/

footer {
    background-color: #1a1a1a;
    margin-top: 40px;

}

.footer-wrap {
    display: flex;
    min-height: 100px;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    color: white;
    padding: 30px 0;
}

.info, .social{    
    margin-top: 10px;
}

.social i:last-child {
    margin-right: 20px;
}

.info {
    font-size: 13px;
}